* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 132, 0);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    padding-left: 3rem;
}

.img-album {
    width: 5rem;
}

.container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    width: 85%;
}

.submenu {
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
    padding: 0.5rem;
}

.img-album-submenu {
    width: 5rem;
}


.d-grid.gap-2 {
    justify-content: center;
}


.btn-secondary {
    width: 100%;
}

tr {
    text-align: center;
}

form {
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
    padding: 1rem;

}

.form-label {
    font-weight: bold;
}